<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>

<main>
    <h1><centre>Account</centre></h1>
</main>

<%- include ('../partials/message') %>
<%- include ('../partials/footer') %>