<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>

<main>
    <div class="container">
        <br>
        <h1>Calendar</h1>
        <br>
    </div>
</main>

<%- include ('../partials/message') %>
<%- include ('../partials/footer') %>