<%- include ('../partials/head') %>
<%- include ('../partials/menu', {active: 'journal'}) %>
<link rel="stylesheet" href="styles/createnote.css">
<main>
  <div class="container">
    <body>
      <br>
      <%# Journal Title Entry%>
      <div class="journal-title">
        <select id="color-select">
          <option class="dropdown-item" value="black">Select Color</option>
          <option class="dropdown-item" value="black">Black</option>
          <option class="dropdown-item" value="white">White</option>
          <option class="dropdown-item" value="blue">Blue</option>
          <option class="dropdown-item" value="red">Red</option>
          <option class="dropdown-item" value="cherry">Cherry Blossom</option>
        </select><input id="journal-title" type="text" class="char-limited" aria-label="Text input" placeholder="Journal Title" maxlength="100">
        <p><span class="char-count">0/100</span></p>
      </div>
      <br>

      <%# Journal Description Entry %>
      <div class="input-group">
        <textarea id="journal-description" class="note-input char-limited" aria-label="With textarea" placeholder="Journal Description" maxlength="200"></textarea>
        <p><span class="char-count">0/200</span></p>
      </div>

  

      <%# Save Button %>
      <div>
        <label for="mood_auto">Enable Automatic Mood Analysis</label>
        <input id="auto" type="checkbox" name="mood_auto" value=true>
        <button id="save-journal" class="button" style="float:right;">Save Journal</button>
      </div>

      <script>
        var saveJournalButton = document.querySelector('#save-journal'); 
        saveJournalButton.addEventListener('click', function() { //on click of Save Journal
        var title = document.querySelector('#journal-title').value.trim(); //gets title
          var content = document.querySelector('#journal-description').value.trim(); //gets description
          var autoMood = document.querySelector('#auto').checked;
          var colorSelector = document.getElementById("color-select");
          var journalColor = colorSelector.value;
          fetch('/savejournal', { //calls /savejournal and passes journal info
          method: 'POST',
          headers: {
            'Content-Type': 'application/json' //data in json form so it can be parsed by API call
          },
          body: JSON.stringify({ //converts data to json strings
            journal_title: title,
            journal_description: content,
            auto_mood: autoMood,
            color: journalColor
          })
        })
        .then(function(response) {
          if (response.ok) {
            return response.json();
          } else {
            throw new Error('An error occurred while saving the note');
          }
        })
        .then(function(data) {
          console.log(data);
          alert('Journal saved successfully');
          window.location.href = 'journal';
        })
        .catch(function(err) {
          console.error(err);
          alert(err.message);
        });
      });

      //character counter
      const inputs = document.querySelectorAll('.char-limited');
      inputs.forEach(input => {
        const charCount = input.nextElementSibling.querySelector('.char-count');
        input.addEventListener('input', () => {
          const count = input.value.length;
          const max = input.maxLength;
          charCount.innerText = `${count}/${max}`;
        });
      });

    </script>
    </body>
  </div>
</main>



<%- include ('../partials/message') %>
<%- include ('../partials/footer') %>