<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>

<main>
    <div class="container">
        <br>
        <h1>Journal</h1>
        <br>
        <form action="/createnewnote">
            <button type="submit" class="btn btn-primary">New Note</button>
        </form>
    </div>
</main>

<%- include ('../partials/message') %>
<%- include ('../partials/footer') %>