<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>

<main>
    <div class="container">
      <br>
      <h1>Login</h1>
      <br>
      <form action="/login" method="POST">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" name="username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password">
        </div>
        <hr>
        <p>Don't have an account? <a href="/register">Register</a><button type="submit" class="btn btn-primary" style="float:right">Login</button></p>
      </form>
    </div>

  </main>

<%- include ('../partials/message') %>
<%- include ('../partials/footer') %>