<%- include ('../partials/head') %>

<main>
  <div class="container">
    <br>
    <h1>Register</h1>
    <br>
    <form action="/register" method="POST">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" name="username">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password">
      </div>
      <div class="form-group">
        <label for="confirm_password">Confirm Password</label>
        <input type="password" class="form-control" name="confirm_password">
      </div>
      <hr>
      <p>Already have an account? <a href="/login">Login</a><button type="submit" class="btn btn-primary" style="float:right">Register</button></p>
    </form>
  </div>
</main>

<%- include ('../partials/message') %>
<%- include ('../partials/footer') %>