<%- include ('../partials/head') %>
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
          <a class="navbar-brand" href="/launch">Logo
            <!-- <img src="../../resources/images/Mindscribe_Logo.png" alt="logo" width="30" height="24" class="d-inline-block align-text-top"> -->
          </a>
          <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/register">Register</a>
              </li>                  
                <li class="nav-item">
                      <a class="nav-link" href="/login">Login</a>
                  </li>
              </ul>
          </div>
      </div>
  </nav>
</header>
<main>
  <div class="container">
    <br>
    <h1>Register</h1>
    <br>
    <form action="/register" method="POST">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" name="username">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password">
      </div>
      <div class="form-group">
        <label for="confirm_password">Confirm Password</label>
        <input type="password" class="form-control" name="confirm_password">
      </div>
      <hr>
      <p>Already have an account? <a href="/login">Login</a><button type="submit" class="btn btn-primary" style="float:right">Register</button></p>
    </form>
  </div>
</main>

<%- include ('../partials/message') %>
<%- include ('../partials/footer') %>