* {
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
}

footer {
    display: flex;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: rgb(156, 123, 114);
    color: white;
    text-align: center;
    align-items: center;
}

h2 {
    font-size: 25px !important;
}

h3 {
    font-size: 10px !important;
}