* {
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

#navbar {
    background-color: rgb(156, 123, 114);
}

body {
    height: 100%;
    background-color: rgb(249, 246, 240);
}

.logo {
    width: 40px;
    margin: 5px;
    margin-left: 30px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 83vh;
}

.all-buttons {
    color:white !important;
    font-size: x-large;
    margin: 5px;
    font-family: 'Urbanist', sans-serif;
}

a:hover {
    opacity: 70%;
}

.active-button {
    font-weight: bold;
}

.main-text {
    font-family: 'Urbanist', sans-serif;
    color: rgb(82, 55, 47) !important;
}

#title {
    font-weight: bold;
    font-size: 100px;
    text-align: center;
    padding: 0;
}

#subtitle {
    font-size: 30px;
    text-align: center;
}

#button {
    background-color: rgb(156, 123, 114);
    border: none;
    text-align:center;
    width: 200px;
    height: 75px;
    margin: 10px;
    border-radius: 10px;
    color: white;
    font-family: 'Urbanist', sans-serif;
    font-size: 25px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}