* {
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

#navbar {
    background-color: rgb(156, 123, 114);
}

.wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}

body {
    height: 100%;
    background-color: rgb(249, 246, 240);
}

.logo {
    width: 40px;
    margin: 5px;
    margin-left: 30px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 83vh;
}

.all-buttons {
    color:white !important;
    font-size: x-large;
    margin: 5px;
    font-family: 'Urbanist', sans-serif;
}

a:hover {
    opacity: 70%;
}

.active-button {
    /* font-weight: bold; */
    opacity: 70%;
}

.main-text {
    font-family: 'Urbanist', sans-serif;
    color: rgb(82, 55, 47) !important;
}

#title {
    font-weight: bold;
    font-size: 70px;
}

#subtitle {
    font-size: 30px;
}

#button {
    background-color: rgb(156, 123, 114);
    border: none;
    text-align: center;
    width: 125px;
    height: 50px;
    border-radius: 10px;
    color: white;
    font-family: 'Urbanist', sans-serif;
    font-size: 25px;
    float: left;
}

input, label {
    display: block;
}

input {
    border: 2px solid rgb(156, 123, 114);
    color: rgb(156, 123, 114) !important;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    padding-left: 16px;
    padding-right: 16px;
    /* caret-color:rgb(156, 123, 114); */
    caret-color: transparent;
    height: 40px !important;
}

input[type=text] {
    font-family: 'Urbanist', sans-serif;
}

input[type=password] {
    font-size:40px;
    /* transform: scale(2); */
    /* transform-origin: left center; */
}

input:focus {
    outline: 1.5px solid rgb(156, 123, 114);
}