* {
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

#navbar {
    background-color: rgb(156, 123, 114);
}

body {
    background-color: rgb(249, 246, 240);
}

.logo {
    width: 40px;
    margin: 5px;
    margin-left: 30px;
}

.all-buttons {
    color:white !important;
    font-size: x-large;
    margin: 5px;
    font-family: 'Urbanist', sans-serif;
}

a:hover {
    opacity: 70%;
}

.active-button {
    /* font-weight: bold; */
    opacity: 70%;
}

.main-text {
    font-family: 'Urbanist', sans-serif;
    color: rgb(82, 55, 47) !important;
}

.title {
    font-weight: bold;
    font-size: 50px;
}

.subtitle {
    font-size: 20px;
}

.button {
    background-color: rgb(156, 123, 114);
    border: none;
    text-align: center;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    color: white;
    font-family: 'Urbanist', sans-serif;
    font-size: 15px;
    float: left;
}

.logout {
    background-color: rgb(155, 146, 146);
    border: none;
    text-align: center;
    width: 200px;
    height: 60px;
    border-radius: 10px;
    color: white;
    font-family: 'Urbanist', sans-serif;
    font-size: 25px;
    text-align-last: center;
}

hr {
    color: rgb(82, 55, 47);
}

input[type=password] {
    border-color: rgb(156, 123, 114);
}

input[type=text] {
    border-color: rgb(156, 123, 114);
    font-family: 'Urbanist', sans-serif;
}